$grey: #dadada;
$white: #FFFFFF;
$tan: #FFA987;
$black: #1E1E24;
$pink: #E54B4B;

$yellow: #f9ffea;
$lightblue: #a6d0e4;
$lighttan: #ffecda;
$brown: #d4a5a5;

$skyblue: #e1f4f3;
$lightgrey: #F8F8F8;
$green: #44DAC2;
$blue: #20B0F4;