@import "colors.scss";

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $green;
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  height: 40px;
  left: 0;
  top: 0;
}

.nav-container h1 {
  font-family: 'Kaushan Script', ;
  font-size: 24px;
}

.left-nav {
  margin-left: 10px;
}

.right-nav {
  margin-right: 10px;
}

.right-nav button, .right-nav a {
  padding: 5px 10px;
  background-color: $white;
  border: 1px solid $blue;
  border-radius: 5px;
  margin-right: 5px;
}