@import "colors.scss";

.overall-portfolio-container {
  margin-top: 40px;
  width: 100%;
  display: flex;
  height: calc(100% - 70px);
  box-sizing: border-box;
  justify-content: space-evenly;
}

.portfolio-container, .stock-form-container {
  display: flex;
  height: fit-content;
  border: 2px solid $green;
  border-radius: 10px;
  padding: 20px;
  flex-direction: column;
  margin-top: 100px;
  background-color: $white;
}

.portfolio-container > div, .stock-form-container > h1 {
  display: flex;
  font-size: 24px;
}

.portfolio-container > div {
  justify-content: space-between;
}

.portfolio-container > div h1 {
  margin-bottom: 20px;
}

.portfolio-container > div i {
  cursor: pointer;
}

.portfolio-stock-list > li {
  display: flex;
  margin-bottom: 10px;
  height: 40px;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
}

.portfolio-stock-list > li > p {
  width: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-stock-list > li > p > span {
  margin-left: 5px;
}

.portfolio-stock-list > p {
  text-align: center;
  margin-bottom: 10px;
  color: $grey;
}

.portfolio-stock-list > li:nth-child(odd) {
  background-color: $lightgrey;
}

.portfolio-stock-list > li:nth-child(even) {
  background-color: $skyblue;
}

.stock-form-container > h1 {
  margin-bottom: 15px;
}

.stock-form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stock-form-container form input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid $grey;
  border-radius: 5px;
}

.stock-form-container form button {
  background-color: $green;
  width: 189px;
  padding: 10px;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.stock-info-container {
  margin-bottom: 20px;
}

.stock-info-container li {
  display: flex;
  margin-bottom: 5px;
}

.stock-info-container li p {
  width: 90px;
  overflow: hidden;
  
}

.cancel-button {
  margin-top: 20px;
  cursor: pointer;
}

.cancel-button:hover {
  color: $blue;
}

.portfolio-item-container:first-of-type {
  font-weight: bold;
}

.portfolio-container-center {
  display: flex;
}

.portfolio-container {
  margin-right: 20px;
}

.stock-form-errors-container {
  background-color: $yellow;
  color: $pink;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 20px;
  width: 189px;
}