@import "colors.scss";

.session-title {
  font-family: 'Kaushan Script', ;
  font-size: 24px;
}

.session-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $lightgrey;
  box-sizing: border-box;
}

.session-form-container {
  height: auto;
  width: 400px;
  display: flex;
  flex-direction: column;
  background-color: $white;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.session-form-container > h1 {
  margin-bottom: 50px;
}

.session-form-container > form {
  display: flex;
  flex-direction: column;
}

.session-form-container > form input {
  border: 1px solid $grey;
  padding: 5px 10px;
  border-radius: 3px;
  width: 300px;
  height: 38px;
  margin-top: 20px;
}

.session-form-container > form input:focus {
  border: 1px solid $blue;
}

::placeholder {
  color: $grey;
}

.session-form-container > form button {
  width: 300px;
  height: 46px;
  display: flex;
  background-color: $green;
  color: $white;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.session-form-container > p {
  color: $grey;
  margin-top: 100px;
}

.session-form-container > p a {
  color: $blue;
}
